GROQ_API_key= # Paste your GROQ API key here, e.g., gsk_0W24................
QDRANT_API_key= # Paste your Qdrant API key here, e.g., eyJhbGci..................
QDRANT_URL= # Paste your Qdrant URL here, e.g., https://45669617-17f8-459c-8917-af6e2f02ac57.us-east-2-0.aws.cloud.qdrant.io